/*
Golf Palette 1
#3d8e90
#e9ecff
#e592b0
#a2d0cc
#6db4b3


Golf Palette 2
#75a8bb
#dbd8ce
#c5a474
#c2926b
#0f1115
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
    background-color: #0f1115;
}

.button {
    margin: 0;
    margin-top: 18px;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #75a8bb;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

.header a {
    font-size: 18px;
    color: #dbd8ce;
    /*
    #e5e7ebaf
    */
    text-decoration: none;
    padding-left: 18px;
}
.content {
    margin: 0;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    box-sizing: content-box;
    padding: 80px 0px 120px;
    background-color: #0f1115;
}

.s1-container {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.s1-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #dbd8ce;
    /*f9faf8*/
}
.s1-container p {
    font-size: 18px;
    color: #dbd8cebf;
}

.section1 img {
    height: 240px;
    width: 500px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 300px 100px;
    gap: 28px;
}

.card-section {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.card {
    color: #1f2937c0;
}

.card img {
    width: 170px;
    height: 180px;
    border: 4px solid #75a8bb;
    /*3882f6*/
    border-radius: 25px;
    margin-bottom: 18px;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

.section3 {
    display: flex;
    box-sizing: content-box;
    padding: 100px 300px;
    background-color: #c5a474;
}

blockquote {
    color: #1f2937ba;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
cite {
    display: flex;
    justify-content: right;
    padding-right: 24px;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    color: #1f2937ec;
}

.section4 {
    padding: 100px 240px;
}

.s4-container {
    display: flex;
    justify-content: space-between;
    background-color: #c2926b;
    padding: 50px 80px;
    border-radius: 10px;
}

.s4-container h3, button{
    color: white;
}

.s4-container p {
    color: #e5e7ebc8;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e5e7ebaf;
    background-color: #0f1115;
    /*1f2937*/
    padding: 28px;
}

/*
S4 Button
    font-size: 16px;
    font-weight: bold;
    background-color: #75a8bb;
    #3882f6
    width: 120px;
    height: 36px;
    border-radius: 8px;
    border-style: solid;
    border-color: #75a8bb;

button:hover {
    background-color: #deaabd;
    border-color: #deaabd;
    #97befd
    box-shadow: 0px 15px 20px #dabfc9;
    color: #fff;
    transform: translateY(-6px);
}
*/